/* @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Lora:400,400i,700&subset=latin-ext'); */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400|Lora:400,700&subset=latin-ext');

* {
    font-family: 'Lora', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1, h2, h3 {
    font-family: 'EB Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main {
    max-width: 900px;
    margin: 0 auto;
}